<h1>statistics</h1>

<div class="row">
  <div class="col-xs-1">#</div>
  <div class="col-xs-2">Player one</div>
  <div class="col-xs-1">Score player one</div>
  <div class="col-xs-2">Player two</div>
  <div class="col-xs-1">Score player two </div>
  <div class="col-xs-2">Winner </div>
  <div class="col-xs-3">Date</div>
</div>
<div *ngFor="let game of games; index as i;" class="row">
  <div class="col-xs-1">{{i}}</div>
  <div class="col-xs-2">{{game.playerOneName}}</div>
  <div class="col-xs-1">{{game.playerOneScore}}</div>
  <div class="col-xs-2">{{game.playerTwoName}}</div>
  <div class="col-xs-1">{{game.playerTwoScore}}</div>
  <div class="col-xs-2">{{game.winner}}</div>
  <div class="col-xs-3">{{game.gameDate}} </div>
</div>