<div class="row center-xs">
  <h1>Statistics</h1>
</div>
<div class="responsive-table">
    <table class="statistics">
      <tr class="t-header">
        <th>No.</th>
        <th>Player one</th>
        <th>Score</th>
        <th>Player two</th>
        <th>Score</th>
        <th>Winner</th>
        <th>Rounds</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let game of games; index as i; even as ev;" class="t-content" [ngClass]="{ even: ev }">
        <td>{{i+1}}</td>
        <td>{{game.playerOne.name}}</td>
        <td>{{game.playerOne.score}}</td>
        <td>{{game.playerTwo.name}}</td>
        <td>{{game.playerTwo.score}}</td>
        <td>{{getWinner(game)}}</td>
        <td>{{game.rounds.length}} </td>
        <td>{{game.createdOn | date }} </td>
      </tr>
      
    </table>
  </div>
